@tailwind base;
@tailwind components;
@tailwind utilities;                                                                                                   

:root {
    --bg: #f6f8fb;
    --card: #ffffff;
    --accent: #4f46e5;
    --muted: #6b7280
}

* {
    box-sizing: border-box
}

body {
    font-family: Inter, system-ui, Segoe UI, Roboto, "Helvetica Neue", Arial;
    background: var(--bg);
    margin: 0;
    color: #111
}

:focus-within, :focus-visible {
    border: unset;
}

#model-field {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #e5e7eb
}

#dimension-demo {
    width: 100%;
    height: 100%;
    max-height: 755px;
    box-shadow: unset;
}